.paraNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vh;
    background-color: #fcff4f;
    padding: 1em;
    margin: 5px;
    font-weight: 500;
    border-radius: 5%;
  }